:root {
    --dark-color: #242424;
    --orange-color: orange;
    --wait-color: #f0f0f0;
    --grey-color: #d7d7d7;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: var(--font-primary);
}

#navigation-menu {
    background-color: var(--dark-color);
    color: var(--wait-color);
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 20px 10px;
    font-size: 13px;
}

#navigation-menu li {
    list-style: none;
    font-weight: 700;
    cursor: pointer;
}

#header-content {
    color: var(--wait-color);
    background-image: url("./images/pexels-narda-yescas-1566837.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 0 22rem 0;
}

#slogan-container h1 {
    font-family: var(--font-secondary);
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: 200;
}

#slogan-container p {
    font-size: 0.90rem;
}

#header-content button {
    background-color: var(--orange-color);
    color: var(--dark-color);
    font-size: 0.80rem;
    font-weight: 800;
    padding: 0.6rem 1.2rem;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}

#slogan-container {
    padding: 150px 10px 18px 10px;
    max-width: 900px;
    margin: 0 auto;
}

.pizzas-options h2 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.pizzas-options ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 10rem;
}

.box {
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0.25rem 1rem 2rem 1rem;
    width: 21rem;
    height: 20rem;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.pizza-item div {
    text-align: left;
    font-size: 12px;
    padding: 1.25rem 2rem;
}

.pizza-item h3 {
    padding-bottom: 0.5rem;
}

.pizza-item img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.about-us-section {
    font-family: var(--font-primary);
    color: var(--wait-color);
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent),
        url("./images/pexels-eneida-nieves-905847.jpg");

    width: 100%;
    background-position: 30% 50%;
    background-image: cover;
    padding: 4rem 0;
}

.about-us-section h2 {
    font-size: 2.05rem;
    font-weight: 1000;
}

.about-us-section p {
    font-size: 0.90rem;
    padding-top: 0.5rem;
    font-weight: 200;
    max-width: 900px;
    margin: 0.5rem auto 0 auto;
}

.contact-section h2 {
    padding-top: 2rem;
    font-size: 1.75rem;
}

.contact-section p {
    font-size: 0.85rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.contacts li {
    list-style: none;
    font-size: 0.85rem;
    width: 20rem;
    padding: 0 1rem 1rem 1rem;
    text-align: left;
}

.contacts li span {
    font-weight: bold;
    font-style: italic;
}

.contacts-anddress button {
    background-color: var(--orange-color);
    color: var(--dark-color);
    font-size: 0.75rem;
    font-weight: 900;
    padding: 0.6rem 1.0rem;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}

footer {
    margin-top: 3rem;
}

#contact-email > span:nth-child(4) { 
    color: var(--orange-color);
    font-style: italic;
    text-decoration: underline;
}

footer p {
    background-color: var(--dark-color);
    color: var(--wait-color);
    margin: auto;
    padding: 1.25rem 2rem;
    font-size: 0.80rem;
}